<%
    # RNB, A VIM COLORSCHEME TEMPLATE
    # Author:        Romain Lafourcade (https://github.com/romainl)
    # Canonical URL: https://gist.github.com/romainl/5cd2f4ec222805f49eca
    # Check this URL for full documentation

    # This template is designed to help vimmers create their own colorschemes
    # without much effort.
    #
    # You will need Ruby to generate your colorscheme but Ruby knowledge is
    # not needed at all.
    information = {
        author:      "Gerry Agbobada",
        email:       "gagbobada+git@gmail.com",
        name:        "gorgeHousse",
        description: "My personal colorscheme",
        background:  "dark",
        webpage:     "https://framagit.org/gagbo/vim-gorgeHousse"
    }

    black       = ["#0F1019",  16, "black"]
    darkred     = ["#D83441", 131, "darkred"]
    darkgreen   = ["#79D836", 107, "darkgreen"]
    darkyellow  = ["#D8B941", 136, "darkyellow"]
    darkblue    = ["#3679D8",  25, "darkblue"]
    darkmagenta = ["#8041D8",  55, "darkmagenta"]
    darkcyan    = ["#36D8BD",  37, "darkcyan"]
    gray        = ["#959EA5", 102, "gray"]
    darkgray    = ["#2D304C",  17, "darkgray"]
    red         = ["#FF7266", 167, "red"]
    green       = ["#B2FF66", 149, "green"]
    yellow      = ["#FFDF66", 179, "yellow"]
    blue        = ["#66A5FF",  32, "blue"]
    magenta     = ["#9866FF",  98, "magenta"]
    cyan        = ["#66FFD8",  80, "cyan"]
    white       = ["#E5F4FF", 195, "white"]

    # My own special colors
    special_bg  = ["#0D0E16",  16, "black"]
    special_fg  = ["#CEDBE5", 188, "white"]
    cursor      = ["#777F84",  66, "white"]
    orange      = ["#DE7935", 173, "yellow"]
    darkorange  = ["#CC8039", 173, "darkyellow"]
    selection   = ["#5199CC",  25, "blue"]
    darkergray  = ["#1E1E33",  17, "darkgray"]

    highlights = [
        [ "Normal", special_bg, special_fg, "NONE" ],

        [ "EndOfBuffer", "bg", special_fg, "NONE" ],
        [ "Underlined", "NONE", "NONE", "underline" ],

        [ "Constant", "NONE", yellow, "NONE" ],
        [ "Number", "Constant" ],
        [ "Identifier", "NONE", yellow, "NONE" ],
        [ "Statement", "NONE", magenta, "NONE" ],
        [ "Function", "NONE", cyan, "NONE" ],
        [ "PreProc", "NONE", darkgreen, "NONE" ],
        [ "Type", "NONE", blue, "NONE" ],
        [ "Special", "NONE", yellow, "NONE" ],
        [ "String", "NONE", green, "NONE" ],
        [ "SpecialKey", "NONE", yellow, "NONE" ],

        [ "ErrorMsg", "NONE", red, "NONE" ],
        [ "WarningMsg", "NONE", yellow, "NONE" ],
        [ "Todo", darkgray, yellow, "NONE" ],
        [ "Comment", "NONE", gray, "italic" ],

        [ "Cursor", cursor, "bg", "NONE" ],
        [ "CursorIM", "Cursor" ],
        [ "CursorColumn", darkergray, "NONE", "NONE" ],
        [ "CursorLine", darkergray, "NONE", "NONE" ],
        [ "LineNr", "bg", gray, "NONE" ],
        [ "CursorLineNr", "bg", orange, "NONE" ],

        [ "Ignore", "bg", darkgray, "NONE" ],
        [ "NonText", "bg", gray, "NONE" ],
        [ "Conceal", "bg", cyan, "NONE" ],

        [ "ColorColumn", darkgray, "NONE", "NONE" ],

        [ "Directory", "bg", blue, "NONE" ],

        [ "DiffAdd", "NONE", darkgreen, "NONE" ],
        [ "DiffChange", "NONE", darkblue, "NONE" ],
        [ "DiffDelete", "NONE", darkred, "NONE" ],
        [ "DiffText", "NONE", darkyellow, "NONE" ],

        [ "Error", "ErrorMsg" ],

        [ "VertSplit", black, black, "NONE" ],
        [ "Folded", darkmagenta, "bg", "NONE" ],
        [ "FoldColumn", "bg", gray, "NONE" ],
        [ "SignColumn", "bg", "NONE", "NONE" ],

        [ "IncSearch", darkmagenta, "bg", "bold" ],
        [ "Search", darkorange, "bg", "NONE" ],
        [ "MatchParen", "NONE", darkorange, "NONE" ],

        [ "WildMenu", black, blue, "NONE" ],

        [ "ModeMsg", "bg", darkmagenta, "NONE" ],
        [ "MoreMsg", "bg", darkmagenta, "NONE" ],

        [ "Pmenu", darkgray, "fg", "NONE" ],
        [ "PmenuSbar", darkgray, "NONE", "NONE" ],
        [ "PmenuSel", blue, darkgray, "NONE" ],
        [ "PmenuThumb", "NONE", darkblue, "NONE" ],

        [ "Question", "bg", darkgreen, "NONE" ],

        [ "QuickFixLine", darkgray, "NONE", "NONE" ],

        [ "StatusLine", darkgray, blue, "NONE" ],
        [ "StatusLineNC", black, darkblue, "NONE" ],
        [ "StatusLineTerm", darkgray, green, "NONE" ],
        [ "StatusLineTermNC", black, darkgreen, "NONE" ],

        [ "TabLine", gray, cursor, "NONE" ],
        [ "TabLineFill", "bg", "NONE", "NONE" ],
        [ "TabLineSel", gray, darkblue, "NONE" ],

        [ "debugPC", darkblue, "NONE", "NONE" ],
        [ "debugBreakpoint", darkred, "NONE", "NONE" ],

        [ "Title", "bg", cyan, "NONE" ],

        [ "Visual", selection, darkergray, "NONE" ],
        [ "VisualNOS", selection, darkergray, "NONE" ],

        [ "SpellBad", "NONE", "NONE", "undercurl", red ],
        [ "SpellCap", "NONE", "NONE", "undercurl", blue ],
        [ "SpellLocal", "NONE", "NONE", "undercurl", green ],
        [ "SpellRare", "NONE", "NONE", "undercurl", green ],
    ]

    # A few general advices:
    #
    #   * The Windows console is limited to the 16 so-called "ANSI" colors but it has
    #     a few of them interverted which makes numbers impractical. Use color names
    #     instead of numbers: :help cterm-colors
    #   * The Windows console (yeah…) doesn't do italics, underlines or bolded text;
    #     it is limited to normal and reverse. Keep that in mind if you want
    #     your colorscheme to be usable in as many environments as possible by as many
    #     people as possible.
    #   * All of the terminal emulators in use these days allow their users to
    #     change the 16 so-called "ANSI" colors. It is also possible on some platforms
    #     to change some or all of the 256 colors in the xterm palette. Don't take
    #     anything for granted.
    #   * When used against a light background, strong colors work better than muted
    #     ones. Light or dark doesn't really matters. Also, it is harder to discriminate
    #     between two similar colors on a light background.
    #   * Both strong and muted colors work well against a dark background. It is also
    #     easier to work with similar colors, but dark colors don't work at all.
    #   * Use as many text samples as possible. String-heavy languages may look completely
    #     different than keyword-heavy ones. This can have an impact on the usability
    #     of your colorscheme.
    #   * Most terminal emulators and terminal multiplexers currently in use on unix-like
    #     systems support 256 colors but they almost always default to a '$TERM' that tells
    #     Vim otherwise. Your users will need to make sure their terminal emulator/multiplexer
    #     is correctly set up if they want to enjoy the best possible experience.
-%>
" <%= information[:name] %>.vim -- Vim color scheme.
" Author:      <%= information[:author] %> (<%= information[:email] %>)
" Webpage:     <%= information[:webpage] %>
" Description: <%= information[:description] %>

hi clear

if exists("syntax_on")
  syntax reset
endif

let colors_name = "<%= information[:name] %>"

if ($TERM =~ '256' || &t_Co >= 256) || has("gui_running")
<% for highlight in highlights -%>
<% if highlight.length == 2 -%>
    hi link <%= highlight[0] %> <%= highlight[1] %>
<% elsif highlight.length == 4 -%>
    hi <%= highlight[0] %> ctermbg=<%= highlight[1].kind_of?(String) ? highlight[1] : highlight[1][1] %> ctermfg=<%= highlight[2].kind_of?(String) ? highlight[2] : highlight[2][1] %> cterm=<%= highlight[3] %> guibg=<%= highlight[1].kind_of?(String) ? highlight[1] : highlight[1][0] %> guifg=<%= highlight[2].kind_of?(String) ? highlight[2] : highlight[2][0] %> gui=<%= highlight[3] %>
<% if highlight[0] == "Normal" -%>
    set background=<%= information[:background] %>
<% end -%>
<% else -%>
    hi <%= highlight[0] %> ctermbg=<%= highlight[1].kind_of?(String) ? highlight[1] : highlight[1][1] %> ctermfg=<%= highlight[2].kind_of?(String) ? highlight[2] : highlight[2][1] %> cterm=<%= highlight[3] %> guibg=<%= highlight[1].kind_of?(String) ? highlight[1] : highlight[1][0] %> guifg=<%= highlight[2].kind_of?(String) ? highlight[2] : highlight[2][0] %> gui=<%= highlight[3] %> guisp=<%= highlight[4].kind_of?(String) ? highlight[4] : highlight[4][0] %>
<% end -%>
<% end -%>
elseif &t_Co == 8 || $TERM !~# '^linux' || &t_Co == 16
    set t_Co=16
<% for highlight in highlights -%>
<% if highlight.length == 2 -%>
    hi link <%= highlight[0] %> <%= highlight[1] %>
<% else -%>
    hi <%= highlight[0] %> ctermbg=<%= highlight[1].kind_of?(String) ? highlight[1] : highlight[1][2] %> ctermfg=<%= highlight[2].kind_of?(String) ? highlight[2] : highlight[2][2] %> cterm=<%= highlight[3] %>
<% if highlight[0] == "Normal" -%>
    set background=<%= information[:background] %>
<% end -%>
<% end -%>
<% end -%>
endif

" Generated with RNB (https://gist.github.com/romainl/5cd2f4ec222805f49eca)
